.author.teaser {
  padding: ($mobile-box * 1.5) $mobile-box;

  .author-image {
    background-size: cover;
    max-height: 200px;
    max-width: 100%;
    width: 200px;
    height: 200px;
  }

  .author-title {
    font-weight: bold;
    color: $text-color;
    margin-bottom: 0;
    font-size: 14px;
    font-family: $body-font;
  }

  .author-description {
    font-size: 14px;
  }
}

@media (min-width: $desktop) {
  .author.teaser {
    padding: ($box / 4) ($box / 2);

    .author-image {
      width: 200px;
      height: 200px;
    }
  }
}