---
layout: html
---
<div class="page-title-wrapper{% if page.image == null %} no-image{% endif %}">
  <h1 class="page-title">{{ page.title }}</h1>
</div>

{% if page.image %}
<div class="page-image" style="background-image: url('{{ page.image }}');"></div>
{% endif %}

<div class="blog full">

  <div class="page-inner left">
    <span class="blog-created"><i class="fa fa-clock-o"></i> {{ page.created }}</span> <span class="blog-author"><i class="fa fa-pencil"></i> {{ page.author }}</span>

    {{ content }}

    <div id="disqus_thread"></div>
    <script>
       var disqus_config = function () {
         this.page.url = 'https://nbvt.nl/{{ page.alias }}';
       };

      (function() {
        var d = document, s = d.createElement('script');

        s.src = '//nbvt.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>


  {% include html/social.html %}

  <div class="page-inner right">
    {% include components/blogs/sidebar.html %}
  </div>

</div>
