<!DOCTYPE html>
<html>
    {% include html/head.html %}

    {% assign path_splitted = page.url | split: '/' %}

    <body class="{{ page.body_class }} {{ path_splitted[1] }} {% if page.has_menu_object %} has-menu-object {% endif %}">
    <div class="page-wrapper">
        {% include html/header.html %}

        <main class="page-main">
            {% if page.image %}
                <div class="page-image" style="background-image: url('{{ page.image }}');"></div>
            {% endif %}

            {{ content }}
        </main>

        {% unless page.layout == 'members' or page.layout == 'project' or page.layout == 'slides' %}
            {% include html/footer.html %}
        {% endunless %}
    </div>

    {% include html/footer-scripts.html %}
    </body>
</html>
