<!DOCTYPE html>
<html>
    {% include html/head.html %}

    {% assign path_splitted = page.url | split: '/' %}

    <body class="{{ page.body_class }} {{ path_splitted[1] }} {% if page.has_menu_object %} has-menu-object {% endif %} {% if page.collection %} collection-{{ page.collection }} {% endif %} ">
    <div class="page-wrapper">
        {% include html/header.html %}

        <main class="page-main">
            {{ content }}
        </main>

        {% if page.footer %}
            {% include html/footer.html %}
        {% endif %}
    </div>

    {% include html/footer-scripts.html %}
    </body>
</html>
