---
layout: html
body_class: two-columns
---

<div class="sidebar-right member-filters-wrapper">
    {% include components/members/filters.html %}
</div>


<div id="leaflet-map" class="leaflet-map main-content"><a class="back-to-filter-button" href="#">Terug naar het filter</a></div>

{% if page.member %}
    {% assign member = page.member %}
    <div class="sidebar-right">
        {% include components/members/teaser.html %}
    </div>
{% endif %}

{% include components/members/sniplet.html %}

{% include components/members/scripts.html %}