---
layout: html
---
{% if page.image %}
    <div class="page-image" style="background-image: url('{{ page.image }}');"></div>
{% endif %}

{% unless page.image %}
<div class="page-title-wrapper">
    <h1 class="page-title">{{ page.title }}</h1>
</div>
{% endunless %}

<div class="news-item full">

    {% if page.image %}
    <div class="page-title-wrapper">
        <h1 class="page-title">{{ page.title }}</h1>
    </div>
    {% endif %}

    <div class="page-inner left">
        {{ content }}
        {% include html/social.html %}
    </div>

    <div class="page-inner right">
        {% include components/news/sidebar.html %}
    </div>

</div>
