---
title: Nieuws
layout: html
body_class: overview-page
---

{% assign current_menu_item_hash = site.data.menu | where: "url", page.url  %}
{% assign current_menu_item = current_menu_item_hash[0] %}

{% unless current_menu_item.image  %}
    {% include html/overview-title.html %}
{% endunless %}

{% if current_menu_item.image %}
<div class="page-image" style="background-image: url('{{ current_menu_item.image }}');"></div>
{% endif %}

<div class="news-overview full">
    {% if current_menu_item.image  %}
        {% include html/overview-title.html %}
    {% endif %}

    <div class="overview-inner">

        {% for news_item in page.paginate_items %}
            {% include components/news/overview.html %}
        {% endfor %}

        {% include html/pager.html %}
    </div>
</div>
