---
layout: html
body_class: two-columns

---

{% assign project = page.project %}
{% include components/projects/first-image.html %}

<div class="sidebar-right project-info">
    {% include components/projects/info.html %}
</div>

{% include html/social.html %}

{% include components/projects/slider.html %}

{% assign member_hash = (site.data.members | where: "id" , project.owner) %}
{% assign member = member_hash[0] %}

{% if member %}
<div class="sidebar-right">
    {% include components/members/teaser.html %}
    <a href="{{ site.data.microsite.environment }}/redhen/org/{{ member.id }}" target="_blank" class="show-more-projects">Bekijk meer projecten <i class="fa fa-arrow-circle-o-right"></i></a>
</div>
{% endif %}

{% include components/projects/scripts.html %}
