---
layout: html
footer: false
body_class: two-columns

---

{% assign project = page.project %}
{% include components/projects/first-image.html %}

<div class="sidebar-right project-info">
    {% include components/projects/info.html %}
</div>

{% include html/social.html %}

{% include components/projects/slider.html %}

{% for possible_member in site.data.members %}

{% assign possible_member_name = possible_member.name | trim %}
{% assign project_owner = possible_member.name | trim %}

    {% if possible_member_name == project_owner %}
        {% assign member = possible_member %}
    {% endif %}
{% endfor %}

{% if member %}
<div class="sidebar-right">
    {% include components/members/teaser.html %}
    <a href="/inspiratie" class="show-more-projects">Bekijk meer projecten <i class="fa fa-arrow-circle-o-right"></i></a>
</div>
{% endif %}

{% include components/projects/scripts.html %}
