---
layout: html
---
<div class="slider owl-carousel" id="slides">
    {% for slide in site.data.slides.slide %}
    <div class="slide-item">
        <div class="slide-item-text">{{ slide[1].text }}</div>
        <div class="slide-item-image" style="background-image: url({{ slide[1].image }});"></div>
        {% if slide[1].quote or slide[1].description or slide[1].detail_image %}
            <div class="slide-item-details-wrapper">
                <div id="slide-item-details-{{ slide[0] }}" class="slide-item-details owl-carousel">
                    {% if slide[1].description %}
                    <div class="sub-slider-item">
                        <div class="slide-item-description">
                            {{ slide[1].description }}
                        </div>
                    </div>
                    {% endif %}

                    {% if slide[1].quote %}
                        <div class="sub-slider-item">
                            <blockquote class="slide-item-quote">
                                {{ slide[1].quote }}
                            </blockquote>
                        </div>
                    {% endif %}

                    {% if slide[1].detail_image %}
                    <div class="sub-slider-item">
                        <div class="slide-item-image">
                            <img src="{{ slide[1].detail_image }}">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <ul class="details-tabs" data-for="slide-item-details-{{ slide[0] }}">
                    {% if slide[1].description %}
                        <li class="details-tab">Beschrijving</li>
                    {% endif %}

                    {% if slide[1].quote %}
                        <li class="details-tab">Quote</li>
                    {% endif %}

                    {% if slide[1].detail_image %}
                        <li class="details-tab">Image</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<!-- build:js(app) /js/slides-scripts.js -->
<script src="/_bower_components/owlcarousel/owl-carousel/owl.carousel.js"></script>
<script src="/js/slides.js"></script>
<!-- endbuild -->