{% if slide.quote or slide.description or slide.detail_image %}
<div class="slide-item-details-wrapper">
    <div id="slide-item-details-{{ slide.id }}" class="slide-item-details owl-carousel">
        {% if slide.description %}
        <div class="sub-slider-item">
            <div class="slide-item-description">
                {{ slide.description }}
            </div>
        </div>
        {% endif %}

        {% if slide.quote %}
        <div class="sub-slider-item">
            <blockquote class="slide-item-quote">
                {{ slide.quote }}
            </blockquote>
            <div class="slide-item-author">
                <div class="author-name">{{ slide.quote_author }}</div>
                <div class="author-function">{{ slide.quote_author_function }}</div>
            </div>
        </div>
        {% endif %}

        {% if slide.detail_image %}
        <div class="sub-slider-item">
            <div class="slide-item-image">
                <h2 class="detail-title">{{ slide.detail_name }}</h2>
                <div class="detail-text">{{ slide.detail_text }}</div>
                <img src="{{ slide.detail_image }}">
                {% if slide.detail_source %}
                <div class="detail-source"><label>Bron: </label>{{ slide.detail_source }}</div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

    <ul class="details-tabs" data-for="slide-item-details-{{ slide.id }}">
        {% if slide.description %}
        <li class="details-tab"><i class="fa fa-align-left"></i></li>
        {% endif %}

        {% if slide.quote %}
        <li class="details-tab"><i class="fa fa-quote-right"></i></li>
        {% endif %}

        {% if slide.detail_image %}
        <li class="details-tab"><i class="fa fa-bar-chart"></i></li>
        {% endif %}
    </ul>

    {% if slide.link %}
        <a href="{{ slide.link.url }}" class="slide-link">{{ slide.link.title }}</a>
    {% endif %}
</div>
{% endif %}
