<a class="news-item overview {% if news_item.image %} has-image {% endif %}" href="{{ news_item.url }}">
    <h3 class="news-item-title">{{ news_item.title }}</h3>
    <span class="news-item-created"><i class="fa fa-clock-o"></i> {{ news_item.created }}</span>
    <div class="news-item-teaser">{{ news_item.teaser }}</div>
    <span class="read-more">Nieuws item lezen <i class="fa fa-arrow-circle-o-right"></i></span>
    <div class="news-item-image" style="background-image: url('{{ news_item.image }}');"></div>
</a>