<form class="members-filters" id="members-filters">

    <div class="filters-groups">
        {% if site.data.microsite.member_filters_title %}
            <h4>{{ site.data.microsite.member_filters_title }}</h4>
        {% else %}
            <h4>Vind uw dichtsbijzijnde verkooppunt</h4>
        {% endif %}
        {% for filter in site.data.microsite.member_filters %}
        <div class="form-item-checkbox">
            {% assign key = filter.label | replace: ' ', '-' | downcase %}
            <input id="{{ key }}" name="filters-groups" {% if forloop.index == 1 %} checked {% endif %} type="radio" value="{{ key }}"
            data-query="{% for tag in filter.tags %}{% assign tag_key = tag | replace: ' ', '-' | replace: '/', '-' | downcase %}{{ tag_key }}{% endfor %}"><label for="{{ key }}">{{ filter.label }}</label>
        </div>
        {% endfor %}
    </div>


    <div class="filters-enhance">
        <h4>Enhance filters</h4>
        {% for filter in site.data.microsite.member_filter_enhance %}
            <div class="form-item-checkbox">
                {% assign key = filter | replace: ' ', '-' | replace: '/', '-' | downcase %}
                <input id="{{ key }}" name="{{ key }}" type="checkbox" value="{{ key }}"><label for="{{ key }}">{{ filter }}</label>
            </div>
        {% endfor %}
    </div>

    <div class="filters-search">
        <input id="leaflet-control-geosearch-qry" type="text" placeholder="Postcode of plaatsnaam">
    </div>

</form>