<script>
    if (!window.nbvt) {window.nbvt = {}}

    window.nbvt.members = {}

    window.nbvt.members.map = "{{ site.data.microsite.members_map_url }}"

    window.nbvt.members.items = [
    {% for member in site.data.members.member %}
    {
        "name": "{{ member[1].name }}",
            "slug": "{{ member[1].slug }}",
            "lat": "{{ member[1].geom.lat }}",
            "lng": "{{ member[1].geom.lon }}",
        {% if member[1] == page.member %}
            "active": true,
        {% else %}
            "active": false,
        {% endif %}
            "tags": [{% for option in member[1].options %}
                        {% assign option_key = option | replace: ' ', '-' | replace: '/', '-' | downcase %}
                        "{{ option_key }}",
                    {% endfor %}]
    },
    {% endfor %}
    ]
</script>