.content-sidebar {
  width: $box * 6;
  position: relative;
  border-left: 1px solid $tertiary;
  @include clearfix;

  > *:last-child {
    margin-bottom: 0 !important;
  }
}

.sidebar-items-title {
  margin-top: 0;
  font-style: italic;
  color: $secondary;
  padding: 0 ($box / 2);
}

.sidebar-block {
  @include clearfix;
  margin-bottom: 40px;
}