.logo-link {
  @include clearfix;
  margin-right: -100%;
  float: left;
  padding-top: 10px;
  height: $header-height;
  padding-bottom: 10px;
  position: relative;
  z-index: 3;
}

.logo-image {
  display: block;
  height: 100%;
}