$menu-link-padding: 20px;

.main-menu-wrapper {
  float: right;
  width: 100%;

  .main-menu {
    margin: 0;
    padding: 0;
    margin-top: $header-height;

    .menu-item {
      list-style: none;
      margin: 0;
      padding: 0;

      .menu-link {
        float: left;
        padding: 0 $mobile-box * 3;
        text-decoration: none;
        height: $header-height;
        line-height: $header-height;
        color: $text-color;
        font-weight: bold;
        transition: all $speed $easing;
        width: 100%;
        background-color: $background-color;
        font-size: 16px;

        &:hover,
        &.active {
          background-color: $primary;
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .main-menu-wrapper {
    .main-menu {
      float: right;
      margin-top: 0px;

      .menu-item {
        float: left;
        width: auto;

        .menu-link {
          padding: 0 $menu-link-padding;
        }
      }
    }
  }
}
