.page-title-wrapper {
  position: relative;
  height: 0;
  @include clearfix;
}

.page-title {
  margin: 0 $mobile-box * 3;
  background-color: $background-color;
  text-align: center;
  padding: 20px;
  @include clearfix;
}

[class*="collection-"]:not(.overview-page) {
  .page-title {
    transform: translateY(-100%);
  }
}

.overview-page {
  .page-title-wrapper {
    height: auto;
    background: $white;
    width: 100%;

    .page-title {
      background: $primary;
      margin: 0 $mobile-box;
      padding: $mobile-box * 2 $mobile-box * 5;
      font-style: italic;
      padding-bottom: 60px;
      margin-bottom: -50px;
    }
  }
}

@media (min-width: $desktop) {
  .page-title {
    margin: 0 $box * 3;
  }

  .overview-page {
    .page-title-wrapper {
      .page-title {
        margin: 0 $box * 2;
        padding: $box / 3 $box * 2;
        padding-bottom: 60px;
        margin-bottom: -50px;
      }
    }
  }
}
