.page-footer {
  margin: 0 auto;
  width: 100%;
  max-width: $max-width - (6 * $box);
  position: relative;
  clear: both;

  .logo-link {
    float: left;
    margin: 0;
    clear: left;
    margin-left: $mobile-box * 3;
    height: $header-height;
    padding: 10px 0;

    .logo-image {
      margin: 0;
    }
  }

  .site-slogan {
    text-align: left;
    font-style: italic;
    color: $secondary;
    font-size: 34px;
    float: left;
    margin: 0;
    margin-top: $mobile-box * 2;
    padding: 0;
    clear: left;
    margin-left: $mobile-box * 3;
  }

  .page-footer-first {
    padding-top: 40px;
    padding-bottom: 40px;
    @include clearfix;
  }

  .page-footer-second {
    background-color: $tertiary;
    padding: ($mobile-box) $mobile-box * 2;
    margin: 0 $mobile-box * 3;

    .footer-block {
      width: 100%;
      clear: both;

      &:last-child {
        margin-bottom: 30px;
      }
    }

    .footer-block-title {
      font-family: $header-font;
      font-size: 18px;
      font-style: italic;
      color: $text-color;
    }

    .footer-link {
      display: block;
      font-weight: bold;
      color: $secondary;
      clear: left;
      font-size: 14px;

      & + .footer-link {
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: $tablet) {
  .two-columns.leden {
    .page-footer {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .page-footer {
    width: 100%;
    padding: 0 180px;
    margin: 0 auto;
    max-width: $max-width;

    .page-footer-first {
      .logo-link {
        margin-left: 0;
      }

      .site-slogan {
        clear: none;
        float: right;
      }
    }

    .page-footer-second {
      @include clearfix;
      margin: 0;
      padding-bottom: 30px;

      .footer-block:not(.twitter) {
        width: 25%;
        float: left;
        clear: none;
        padding: 0 2%;
      }
    }
  }

  .two-columns.leden,
  .slides.voordelen {
    .page-footer {
      display: none;
    }
  }
}
