.page-title-wrapper {
  .page-title {
    font-size: 28px;
  }
}
@media (min-width: $desktop) {
  .page-title-wrapper {
    .page-title {
      font-size: 56px;
    }
  }
}

// Page title with a header image on the page
body.with-image {
  .page-title-wrapper {
    .page-title {
      margin: 0;
      padding: $mobile-box * 2 $mobile-box / 2;
      text-align: center;
      background: $background-color;
      width: 100%;
    }
  }
}

@media (min-width: $desktop) {
  body.with-image {
    .page-title-wrapper {
      .page-title {
        padding: $box / 2;
      }
    }
  }
}



// Page title without a header image on the page
body.without-image {
  .page-title-wrapper {
    background: $secondary;

    .page-title {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: $box / 3 0;
    }
  }
}
@media (min-width: $desktop) {
  body.without-image {
    .page-title-wrapper {
      padding: 0 $box * 2;
      margin: 0 $box;
      padding-bottom: $box * 2;
      margin-bottom: - $box * 2;

      .page-title {

      }
    }
  }
}
