.slide-item-details-wrapper {
  width: 600px;
  background: red;
  position: absolute;
  right: 0;
  bottom: 0;
}

.slider {
  height: 100%;
  background: $tertiary;
}

.details-tab.active {
  background: green;
}

.slide-item-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.slide-item {
  height: 100%;
  width: 100%;
}

.slide-item-text {
  position: absolute;
  top: 40px;
  left: 40px;
}

body.slides {
  .page-wrapper {
    height: 100%;
  }
}