@media (max-width: $desktop) {
  .slider {
    position: relative;
    min-height: calc(100vh - #{$header-height});

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 89%;
      background: $tertiary;
      left: 0;
      top: 11%;
      z-index: -1;
    }

    .owl-wrapper-outer {
      height: auto;
      margin: 0 $mobile-box;
      width: calc(100% - 20px);
      overflow: hidden;
      @include clearfix;
    }

    .owl-wrapper {
      .owl-item {
        //padding: 0 $mobile-box;
        @include clearfix;

        .slide-item {
          @include clearfix;
          float: left;
          width: 100%;
          height: 100%;
        }

        .slide-item-image {
          background-size: cover;
          padding-bottom: 70%;
          margin-bottom: - $mobile-box * 6;
        }

        .slide-item-text {
          background: $white;
          margin: 0 $mobile-box * 2;
          margin-right: $mobile-box * 4;
          padding: $mobile-box * 2 $mobile-box * 5;
          color: $text-color;
          font-size: 24px;
          font-weight: bold;

          * {
            margin: 0;
          }
        }
      }
    }

    .owl-controls {
      .owl-buttons {
        .owl-next,
        .owl-prev {
          font-size: 0px;
          background: rgba($black, 0.4);
          border: 2px solid $white;
          border-radius: 100%;
          position: absolute;
          left: -25px;
          height: 70px;
          width: 70px;
          transition: $speed $easing;
          top: 17vh;

          @media (min-width: $tablet) {
            top: 20vh;
          }
          
          &:after {
            content: "\f060";
            color: white;
            display: block;
            font-family: "FontAwesome";
            font-size: 30px;
            left: 37%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          &:hover {
            background: rgba($black, 0.6);
          }
        }

        .owl-next {
          right: -25px;
          left: auto;

          &:after {
            content: "\f061";
            left: auto;
            right: 37%;
          }
        }
      }
    }
  }
}