@media (min-width: $desktop) {
  .slide-item-details-wrapper {
    width: 600px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: calc(100vh - #{$header-height});

    .slide-item-details {
      background: transparent;
      position: absolute;
      bottom: 82px;
      z-index: 1;
      border-bottom: 5px solid $white;

      .owl-wrapper-outer {
        .owl-wrapper {
          .owl-item {
            bottom: 0;
            position: absolute;
            left: 0;

            &:nth-child(2) {
              left: 600px;
            }

            &:nth-child(3) {
              left: 1200px;
            }

            background: transparent none repeat scroll 0 0;
            //height: 400px;
            width: 600px;

            .sub-slider-item {
              background: $white;
              //position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: auto;
            }

            .slide-item-description {
              padding: $box / 1.5;
              color: $text-color;

              h1, h2, h3, h4, h5, h6 {
                color: $secondary;
                font-size: 24px;
                font-style: italic;
                font-weight: bold;
                line-height: 28px;
                margin-top: 0px;
              }
            }

            .slide-item-quote {
              font-family: $header-font;
              margin: 0;
              padding: $box;
              padding-left: $box * 3;
              background: $primary;
              color: $secondary;
              font-size: 24px;
              font-style: italic;
              font-weight: bold;
              line-height: 28px;

              &:after {
                content: "";
                display: inline-block;
                font: 50px/1 FontAwesome;
                left: $box;
                position: absolute;
                text-rendering: auto;
                top: $box;
              }
            }

            .slide-item-image {
              img {
                display: block;

              }
            }
          }
        }
      }
    }
    
    .owl-controls {
      display: none !important;
    }

    .details-tabs {
      background: darken($tertiary, 20);
      float: none;
      @include clearfix;
      position: absolute;
      bottom: 0;
      z-index: 1;
      min-width: 180px;
    }

    .slide-link {
      bottom: 0;
      display: inline-block;
      float: none;
      height: auto;
      line-height: 34px;
      padding: 23px;
      position: absolute;
      right: 0;
      z-index: 1;
      width: 420px;
      text-align: center;
      color: darken($tertiary, 20);
      font-size: 28px;
      font-family: $header-font;
      font-style: italic;
      background: $tertiary;

      &:after {
        content: "";
        display: inline-block;
        font-family: "FontAwesome";
        margin-left: 4px;
        font-style: normal;
      }
    }
  }
}