@media (max-width: $desktop) {
  .slide-item-details-wrapper {
    background: $background-color;
    margin: 0 $mobile-box * 2;
    margin-right: $mobile-box * 4;
    padding: $mobile-box * 2 $mobile-box * 5;
    @include clearfix;

    .sub-slider-item {
      clear: left;
      float: left;
      padding: 0;
      position: relative;
      width: 100% !important;

      .slide-item-description {
        h1, h2, h3, h4, h5, h6 {
          color: $secondary;
          font-size: 20px;
          font-style: italic;
          font-weight: bold;
          line-height: 28px;
          margin-top: 0px;
        }
      }

      .slide-item-quote {
        font-family: $header-font;
        margin: 0;
        padding: $mobile-box * 3;
        padding-left: $mobile-box * 9;
        background: $primary;
        color: $secondary;
        font-size: 18px;
        font-style: italic;
        font-weight: bold;
        line-height: 22px;
        margin-left: - $mobile-box * 7;
        margin-top: $mobile-box * 3;

        &:after {
          content: "";
          display: inline-block;
          font: 25px/1 FontAwesome;
          left: - $mobile-box * 3;
          position: absolute;
          text-rendering: auto;
          top: $box;
        }
      }

      .slide-item-author {
        display: none;
      }

      .slide-item-image {
        margin-top: $mobile-box * 3;
        padding: 0 !important;
        margin-bottom: 0 !important;

        .detail-title {
          color: $secondary;
          font-size: 18px;
        }

        .detail-text {
          font-weight: bold;
          font-size: 12px;
          color: $text-color;
        }

        img {
          margin: 20px 0;
        }

        .detail-source {
          font-weight: bold;
          font-size: 12px;
          color: $text-color;
          
          label {
            display: inline;
          }
        }
      }
    }
    
    .details-tabs {
      display: none;
    }

    .slide-link {
      display: inline-block;
      margin: 20px 0;
      float: left;
      clear: left;
      font-weight: bold;
      color: $secondary;
      
      &:after {
        content: "";
        display: inline-block;
        font-family: "FontAwesome";
        margin-left: 4px;
      }
    }
  }
}