@media (min-width: $desktop) {
  .slide-item-details-wrapper {
    width: 600px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: calc(100vh - #{$header-height});

    .slide-item-details {
      background: transparent;
      position: absolute;
      bottom: 82px;
      z-index: 3;
      border-bottom: 5px solid $background-color;

      .owl-wrapper-outer {
        .owl-wrapper {
          .owl-item {
            bottom: 0;
            position: absolute;
            left: 0;

            &:nth-child(2) {
              left: 600px;
            }

            &:nth-child(3) {
              left: 1200px;
            }

            background: transparent none repeat scroll 0 0;
            //height: 400px;
            width: 600px;

            .sub-slider-item {
              background: $background-color;
              //position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: auto;
            }

            .slide-item-description {
              padding: $box / 1.5;
              color: $text-color;
              font-weight: 700;

              h1, h2, h3, h4, h5, h6 {
                color: $secondary;
                font-size: 21pt;
                font-style: italic;
                font-weight: 600;
                line-height: 24pt;
                margin-top: 0px;
              }
            }

            .slide-item-quote {
              font-family: $header-font;
              margin: 0;
              padding: $box;
              padding-left: $box * 3;
              background: $primary;
              color: $secondary;
              font-size: 24px;
              font-style: italic;
              font-weight: bold;
              line-height: 28px;
              min-height: 250px;

              &:after {
                content: "";
                display: inline-block;
                font: 50px/1 FontAwesome;
                left: $box;
                position: absolute;
                text-rendering: auto;
                top: $box;
              }
            }

            .slide-item-author {
              position: absolute;
              top: 130px;
              left: 30px;
              width: 120px;
              color: $text-color;

              .author-name {
                font-weight: bold;
                margin-bottom: 5px;
                font-size: 12px;
                line-height: 16px;
              }

              .author-function {
                font-family: $header-font;
                font-size: 12px;
                font-style: italic;
                line-height: 16px;
              }
            }

            .slide-item-image {
              padding: $box / 2;

              .detail-title {
                color: $secondary;
                font-size: 24px;
                margin: 0;
                font-style: italic;
                margin-bottom: 20px;
              }

              .detail-text {
                font-weight: bold;
                font-size: 14px;
                color: $text-color;
                margin-bottom: 20px;
              }

              img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
              }

              .detail-source {
                font-weight: bold;
                font-size: 12px;
                color: $text-color;
              }
            }
          }
        }
      }
    }
    
    .owl-controls {
      display: none !important;
    }

    .details-tabs {
      background: darken($tertiary, 20);
      float: none;
      @include clearfix;
      position: absolute;
      bottom: 0;
      z-index: 2;
      max-width: 181px;

      &:after {
        display: block;
        content: '';
        background-color: $tertiary;
        position: absolute;
        width: 700px;
        height: 100px;
        top: 0;
        left: 100%;
        z-index: -1;
      }
    }

    .slide-link {
      bottom: 0;
      display: inline-block;
      float: none;
      height: auto;
      line-height: 34px;
      padding: 23px;
      position: absolute;
      right: 0;
      z-index: 2;
      width: calc(100% - 181px);
      text-align: center;
      color: darken($tertiary, 20);
      font-size: 18pt;
      font-family: $header-font;
      font-style: italic;
      font-weight: 500;
      background-color: $tertiary;

      &:after {
        content: "";
        display: inline-block;
        font-family: "FontAwesome";
        margin-left: 7px;
        font-style: normal;
      }
    }
  }
}