.news-item.teaser {
  float: left;
  clear: left;
  padding: ($mobile-box * 1.5) $mobile-box;
  color: $text-color;
  transition: background-color $speed $easing;
  width: 100%;
  position: relative;

  .news-item-title {
    font-weight: bold;
  }

  .read-more {
    color: $secondary;
  }

  &:hover {
    background-color: $primary;
  }
}

@media (min-width: $desktop) {
  .news-item.teaser {
    padding: ($box / 4) ($box / 2);
  }
}