.page.full {
  position: relative;
  background: $background-color;
  margin: 0 (3 * $box);
  float: left;
  @include clearfix;

  > .left {
    padding-left: $box * 2;
    padding-right: $box * 7;
    width: 100%;
    float: left;
    margin-right: -100%;

    > *:first-child {
      margin-top: 0;
    }
  }

  > .right {
    float: right;
  }

  &:after {
    display: block;
    width: 100vw;
    background-color: $tertiary;
    height: 100%;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
  }

}