.document.teaser {
  padding: ($mobile-box * 1.5) $mobile-box;
  display: block;
  transition: $speed $easing;

  .document-title {
    font-weight: bold;
    font-family: $body-font;
    color: $text-color;
    font-size: 16px;
    margin: 0;
  }

  .tags {
    font-weight: normal;
    color: lighten($text-color, 40);
    font-style: italic;
    font-size: 14px;
    transition: $speed $easing;
  }

  .document-url {
    font-weight: bold;
  }

  &:hover {
    background-color: $primary;

    .tags {
      color: lighten($text-color, 20);
    }
  }
}

@media (min-width: $desktop) {
  .document.teaser {
    padding: ($box / 4) ($box / 2);
  }
}