<footer class="page-footer">
    <div class="page-footer-first">
        {% if site.data.microsite.logo %}
            <a class="logo-link" href="/"><img class="logo-image" src="{{ site.data.microsite.logo }}"></a>
        {% endif %}

        {% if site.data.microsite.slogan %}
            <h2 class="site-slogan">{{ site.data.microsite.slogan }}</h2>
        {% endif %}
    </div>
    <div class="page-footer-second">
        {% for component in site.data.microsite.footer_components %}
            {% include components/{{ component }}/footer.html %}
        {% endfor %}
    </div>
    <div class="page-footer-third">
        © {{ site.time | date: '%Y' }} {{ site.data.microsite.domain }} |
        <a href="{{ site.data.microsite.environment }}/over-de-nbvt/privacyverklaring" target="_blank">Privacyverklaring</a> |
        <a href="{{ site.data.microsite.environment }}/over-de-nbvt/disclaimer" target="_blank">Disclaimer</a>
    </div>

</footer>
