<div class="social-share">
    <a class="social-link google-plus" target="_blank" href="https://plus.google.com/share?url={{ site.data.microsite.domain }}{{ page.url }}"><i class="fa fa-google"></i></a>
    <a class="social-link pinterest" target="_blank" href="https://pinterest.com/pin/create/button/?url={{ site.data.microsite.domain }}{{ page.url }}&media=&description="><i class="fa fa-pinterest-p"></i></a>
    <a class="social-link facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.data.microsite.domain }}{{ page.url }}"><i class="fa fa-facebook"></i></a>
    <a class="social-link twitter" target="_blank" href="https://twitter.com/home?status={{ site.data.microsite.domain }}{{ page.url }}"><i class="fa fa-twitter"></i></a>
    <a class="social-link linkedin" target="_blank" href="https://www.linkedin.com/cws/share?url={{ site.data.microsite.domain }}{{ page.url }}"><i class="fa fa-linkedin"></i></a>
    <a class="social-link mail" target="_blank" href="mailto:?subject=Interessante%20pagina%20op%20{{ site.data.microsite.domain }}&body=Bekijk:%20{{ site.data.microsite.domain }}{{ page.url }}"><i class="fa fa-envelope-o"></i></a>
</div>