.label-above {
  font-weight: bold;
}

.form-item {
  margin: 10px 0;
  clear: left;
  float: left;
}

input {
  border: 1px solid $tertiary;
  border-radius: $radius;
  padding: 10px;

  &[type="checkbox"],
  &[type="radio"] {
    border: 0px none;
    outline: 0px none;
    display: none;
  }

  &[type="radio"] + label {
    &:before {
      content: "\f10c";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      font-family: "FontAwesome";
      color: darken($tertiary, 50);
    }
  }

  &[type="radio"]:checked + label {
    &:before {
      content: "\f192";
    }
  }

  &[type="checkbox"] + label {
    &:before {
      content: "\f096";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      position: relative;
      top: 1px;
      font-family: "FontAwesome";
      color: darken($tertiary, 50);
    }
  }

  &[type="checkbox"]:checked + label {
    &:before {
      content: "\f046";
    }
  }
}

.label-inline {
  width: 80px;
  float: left;
}

.inline-value {
  float: left;
  font-weight: bold;
}