<div class="project info">
    <div class="close-button">
        <a class="close" href="/inspiratie"></a>
    </div>

    <h3 class="project-title">{{ project.title }}</h3>

    <div class="form-item">
        <div>{{ project.description }}</div>
    </div>

    <div class="form-item">
        <div class="label-above">Locatie</div>
        <div>{{ project.location.locality }}</div>
    </div>

    <div class="form-item">
        <div class="label-above">Producten</div>
        <div>{{ project.type | join: ', ' }}</div>
    </div>


</div>