.members-filters {

}

.filters-title {
  color: $secondary;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
}

.member-filters-search {
  font-weight: bold;
}

.back-to-filter-button {
  background: white none repeat scroll 0 0;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: $body-font;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: $speed $easing;
  color: $secondary !important;

  &:hover,
  &:focus {
    background: $primary;
    color: $background-color;
  }
}

.has-visible-filter-back-button {
  .back-to-filter-button {
    opacity: 1;
    visibility: visible;
  }
}