.leaflet-map {
  height: 100%;
  z-index: 4;
  min-height: calc(100vh - #{$header-height});

  @media (min-width: $tablet - 1) {
    position: fixed !important;
  }
}

.leaflet-marker-icon {
  border: 0;
  background: none;

  .fa {
    font-size: 40px;
    color: $text-color;
    transition: color $speed $easing;
  }

  &:hover .fa,
  &.active .fa {
    color: $secondary;
  }
}

.has-menu-object.leden {
  .member-filters-wrapper,
  .leaflet-map {
    @media (max-width: $desktop) {
      display: none;
    }
  }

  @media (max-width: $desktop) {
    .member.teaser .back-to-overview,
    .page-footer {
      display: block;
    }
  }
}